<form action="/users/generate-forgot-token" method="POST">
    <input type="email" name="email" placeholder="Enter your email..">
    <input type="submit" placeholder="Generate Auth link on mail">
</form>