<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user){ %>
        <!-- IMPORTANT : Using res.locals.user to show user object in all frontend views, this is main advantage and this is how we do not need to send it over and over again from each different end points. Locals here is the global object. -->
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="50" rows="5" placeholder="What is on your mind?" required></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>    
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <!-- This for loop requirs us to have for of loop. If we have for(let i=0; i<posts.length; i++) then this would not run for partials of view since the value of i is not transferred to other partials. Only for of loop could transfer and partials is very important especially in a case when we want to break our view.ejs file into different components. -->    
                    <%- include('_post.ejs')-%>
                <%} %>
            </ul>
        </div>
    </section>
    
    <section id="user-friends">        
            <h4>Friends</h4>
            <ul>
                <% for(u of all_users){ %>
                    <!-- This for loop requirs us to have for of loop. If we have for(let i=0; i<posts.length; i++) then this would not run for partials of view since the value of i is not transferred to other partials. Only for of loop could transfer and partials is very important especially in a case when we want to break our view.ejs file into different components. -->
                    <p>
                        <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                    </p>
                <%} %>
            </ul>        
    </section>
</div>

<script src="/js/home_posts.js"></script>