<h1>
    Reset Password Page
</h1>
<h2>
    <%=email%>
</h2>
<form action="/users/update-password" method="POST">
    <input type="email" name ="email" value=<%=email%> placeholder="Email" hidden>
    <input type="password" name="pass" placeholder="Password">
    <input type="password" name="confirmPass" placeholder="Confirm Password">
    <input type="submit" placeholder="Submit">
</form>