<!-- Note:- The line in the index.js file     app.set('layout extractStyles', true);     will help us in extracting the file from the below line and let us add it to the header section of the layout.ejs file. And this addition of the css file will make the background color as per our own requirement. So now we are able to add individual css files into the app.-->
<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Phoenix / Profile Page
</h1>
<h1><%= profile_user.name %></h1>
<h1><%= profile_user.email %></h1>