<h1>Phoenix / <%= title %></h1>

<form action="/users/create-session" method="POST">
    <input type="email" id ="email">
    <input type="password" id="password">
    <input type="submit" value="Sign In">
</form>