#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 80%;
    padding: 10px; }
  #home-container #list-of-users {
    width: 20%; }
    #home-container #list-of-users #all-users {
      width: 100%;
      padding: 10px;
      border-left: 2px solid green;
      border-top: 2px solid red;
      border-bottom: 2px solid blue;
      border-right: 2px solid yellow; }
    #home-container #list-of-users #user-friends {
      width: 100%;
      padding: 10px;
      border-left: 2px solid green;
      border-bottom: 2px solid blue;
      border-right: 2px solid yellow; }
